<div class="row">
  <div class="col-md-6">
    <h3>Monday, January 28</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/">Workshop overview and introductions</a></td> </tr>
      <tr> <td>12:45</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/01-rstudio-intro/">Introduction to RStudio</a></td> </tr>
      <tr> <td>13:45</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/02-project-intro/">Project Management with RStudio</a></td> </tr>
      <tr> <td>13:45</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/03-seeking-help/">Seeking Help</a></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/04-data-structures-part1/">Data Structures</a></td> </tr>
      <tr> <td>15:45</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/05-data-structures-part2/">Exploring Data Frames</a></td> </tr>
      <tr> <td>16:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Monday, February 4</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/06-data-subsetting/">Subsetting Data</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/07-control-flow/">Control Flow</a></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/08-plot-ggplot2/">Creating Publication-Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/09-vectorization/">Vectorization</a></td> </tr>
      <tr> <td>16:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
   <div class="col-md-6">
    <h3>Monday, February 11</h3>
    <table class="table table-striped">
      <tr> <td>12:30</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/10-functions/">Functions Explained</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/11-writing-data/">Writing Data</a></td> </tr>
      <tr> <td>13:50</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/13-dplyr/">Dataframe Manipulation with dplyr</a></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/13-dplyr/">Dataframe Manipulation with dplyr (continued)</a></td> </tr>
      <tr> <td>15:00</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/14-tidyr/">Dataframe Manipulation with tidyr</a></td> </tr>
      <tr> <td>15:45</td>  <td><a href="{{site.swc_pages}}/r-novice-gapminder/15-knitr-markdown/">Producing Reports with knitr</a></td> </tr>
      <tr> <td>16:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
